# === DATABASE CREDENTIALS ===
POSTGRES_DB=mango
POSTGRES_USER=mango
POSTGRES_PASSWORD=m4ng0zzz

POSTGRES_PORT=5432
POSTGRES_HOST=localhost

# === CONNECTION STRINGS ===
REDIS_URL="redis://localhost:6379"
POSTGRES_URL="postgres://mango:m4ng0zzz@localhost:5432/mango"

# === JWT CONFIGURATION ===
JWT_SECRET="sample_secret_key"
